.header-container {
  width: 100%;
  background-color: antiquewhite;
}

.BurgerMenu {
  cursor: pointer;
}

.custom-collapse {
  position: absolute !important;
  width: 230px !important;
  height: auto !important;
  z-index: 1 !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  border-radius: 0px !important;
}

.custom-card-container {
  border-radius: 0px !important;
}
.LogoutLabel {
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.Nav-Items {
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
