.header-container {
  width: 100%;
  background-color: antiquewhite;
}

.BurgerMenu {
  cursor: pointer;
}

.custom-collapse {
  position: absolute !important;
  width: 230px !important;
  height: auto !important;
  z-index: 1 !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  border-bottom-right-radius: 4px !important;
}

.LogoutLabel {
  cursor: pointer;
}
